<head>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>
  <meta charset="UTF-8">
  {% if page.description %}
	<meta name="description" content="{{page.description}}">
  {% else %}
  <meta name="description" content="{{site.description}}">
  {% endif %}
	<meta name="author" content="{{site.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="canonical" href="{{url}}/{{page.url}}" itemprop="url">
  {% if page.path contains '_posts' %}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@olakara" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="twitter:description" content="{{page.title}}" />
  <!-- Open Graph data -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{url}}/{{page.url}}" />
  <meta property="og:description" content="{{page.title}}" />
  <meta property="og:site_name" content="{{site.title}}" />
  {% endif %}


  <!-- CSS -->
  <link rel="stylesheet" href="{{site.url}}/assets/css/all.css">
  <!-- Javascript -->
  <script src="/assets/js/all.js"></script>

  {% if page.bloghome == true %}
  <style type="text/css">
        a,a:hover,a:focus {
          color:#DC572E;
        }
  </style>
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{site.url}}/assets/images/favicon-128.png">
  <link rel="shortcut icon" href="{{site.url}}/assets/images/favicon-16.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
